@using VendorOrderTracker.Models;
@{
    Layout = "_Layout";
}

<div class="box2">
    @if (@Model["order"] == null)
    {
        <h3>The order has been deleted</h3>
    }
    else 
    {
        <h3>Title of Order: @Model["order"].Title</h3>
        <h3>Description of Order: @Model["order"].Description</h3>
        <h3>Price of this order: @Model["order"].Price</h3>
        <h3>Date of this order: @Model["order"].Date</h3>

        <button type="button" class="btn" onclick="window.location.href = '/vendors/@Model["vendor"].Id/orders/@Model["order"].Id/edit'">Edit order</button>
        <button type="button" class="btn" onclick="window.location.href = '/vendors/@Model["vendor"].Id/orders/@Model["order"].Id/delete'">Delete order</button>
    }

    
    <button type="button" class="btn" onclick="window.location.href = '/vendors/@Model["vendor"].Id/orders'">Back to orders</button>
    <button type="button" class="btn" onclick="window.location.href = '/vendors/@Model["vendor"].Id'">Back to vendor</button>
    <button type="button" class="btn" onclick="window.location.href = '/vendors'">Back to vendors</button>
    <button type="button" class="btn" onclick="window.location.href = '/'">Home</button>
</div>
